.ipynb_checkpoints/
__pycache__/
*.pyc
.venv/
venv/
env/
.DS_Store
.env
.idea/
.vscode/
.env
experiments/data/*.sqlite
experiments/data/*.sqlite-journal
experiments/data/*.sqlite-wal
experiments/data/*.sqlite-shm
experiments/_tmp/
*(1).pdf
*j.pdf
*I.pdf
*.txt